.flex-container-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 33vh;
    width: 100%;
}

.flex-item {
    display: flex;
    width: 400px;
    height: 200px;
    border: 2px dotted cornflowerblue;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.table {
    width: 100%;
}

.table-header-resources, .table-header-borrows, .table-header-users {
    width: 16%;
    border: 1px dotted cornflowerblue;
}

.table-row {
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.flex-item:hover {
    background-color: aliceblue;
    font-size: 1.4rem;
}

.header, .footer {
    width: 100%;
    height: 15vh;
    float: left;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.left {
    width: 10%;
    height: 68vh;
    float: left;
    text-align: center;
}

.right {
    width: 90%;
    height: 68vh;
    float: left;
    overflow-y: auto;
}
